.pediline-navbar, .pediline-bg{
    background-color: #1F7B83;
    color: white;
    margin-bottom: 1em;
}

.pediline-secondary{
background-color: #7f7f7f;
color: white;
margin-bottom: 1em;
}

.pediline-bg:hover{
background-color: #1e5458;
color: white;
}

hr.rounded {
border-top: 2px solid #1F7B83;
border-radius: 5px;
margin: 20px;
}

.list-group-item.active{
    background-color: #1F7B83 !important;
    border-color: #144e53;
}
