footer{
    font-size: 1rem;
    font-weight: 500;
    color:#212529;
    text-align: left;
    font-family: "montserrat", sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
    background: white;
    border-bottom: 3px solid orange;
    margin-bottom: 2px;
    z-index:20;
    position:relative;
    display:none;
}

.container-fluid {
    margin-left: 45px;
    margin-right: 45px;
    padding-right: 0;
    padding-left: 0;
    width: auto;
}

.site-footer {
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
}

.site-footer .site-footer__left {
    width: 45%;
}

.site-footer .site-footer__right {
    display: flex;
    width: 54%;
    text-transform: uppercase;
}

.site-footer .site-footer__left .social {
    display: flex;
    flex-direction: column;
}

.site-footer .site-footer__left .social .site-footer-image .image {
    flex-direction: row;
    width: 50%;
}

a {
    color: #8a8a8a;
    text-decoration: none !important;
    border-radius: 4px !important;
}

.site-footer .site-footer__left .social .site-footer-image .image img {
    width: 180px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.site-footer .logo-description {
    width: 180px;
    font-size: 12px;
    line-height: 19px;
    margin-top: 35px;
    color:#333;
    position: relative;
}

.site-footer .logo-description::before {
    content: "";
    width: 25px;
    height: 3px;
    margin-bottom: 20px;
    position: absolute;
    top: -20px;
    background-color:#333;
}

::after, ::before {
    box-sizing: border-box;
}

.social-media ul {
    display: flex;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.mt-1 {
    margin-top: 10px !important;
}

ul {
    margin-bottom: 1rem;
}

.social-media ul li a {
    width: 30px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    background-color:#333;
    border-radius: 50% !important;
}


svg:not(:root).svg-inline--fa {
    overflow: visible;
}
.svg-inline--fa.fa-w-10 {
    width: 0.625em;
}
.social-media ul li a svg {
    font-size: 15px;
    color: white;
}
.svg-inline--fa {
    display: inline-block;
    height: 1em;
    vertical-align: -.125em;
}

.social-media ul li + li {
    margin-left: 10px;
}

.site-footer .site-footer__right .site-footer-sitemap p.title {
    font-size: 14px;
    margin: 0 0 20px 0;
    font-family: "montserrat-extrabold";
    color: #333;
}
.title {
    line-height: 52px;
    position: relative;
    text-transform: uppercase;
    font-family: "montserrat-extrabold";
    margin-bottom: 20px;
}

.site-footer .site-footer__right .site-footer-sitemap ul.onecolumn {
    column-count: 1;
    
}
.site-footer .site-footer__right .site-footer-sitemap ul {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.site-footer .site-footer__right .site-footer-sitemap ul li {
    font-size: 12px;
    line-height:2.5;
}

.social-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border-gray);
}

.company {
    margin: 0;
    padding: 0;
}

.company li {
    list-style: none;
    display: inline-block;
    margin-left: 0;
    margin-right: 10px;
}

.social-footer span.copyright {
    font-size: 12px;
    color: var(--text-gray);
}

.site-footer .site-footer__left .copyright {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid var(--border-gray);
    padding-top: 20px;
    color: var(--text-gray);
}




@media only screen and (max-width:1200px)
{
    .site-footer .site-footer__right {
        width: 70%;
        margin-bottom: 30px;
    }

    .site-footer .site-footer__left {
        width: 30%;
    }
}

@media only screen and (min-width:1025px)
{
    .site-footer .site-footer__right {
        max-width: 800px;
    }
}

.site-footer .site-footer__right .site-footer-sitemap ul li a {
    color: #5A5359;
    text-decoration: none;
}

.bg-waves-home-3 {
    background-image: url(https://designs.ai/_next/static/images/devider_purple_3-050b1da3e2f4b3e4b51d8f29d615bf73.png);
}
.bg-waves {
    background-repeat: no-repeat;
    background-position: center;
    height: 125px;
    margin-top: -60px;
}

@media only screen and (min-width:1024px)
{
    .desktop {
        display: block !important;
    }

    .mobile {
        display: none !important;
    }
}
@media only screen and (max-width:1024px)
{
    .site-footer {
        flex-direction: column-reverse;
        padding: 30px 20px;
    }

    .container-fluid {
        margin: 0 10px !important;
    }
    .site-footer .site-footer__right {
        width: 100%;
    }
    .site-footer .site-footer__left {
        width: 100%;
    }

    .site-footer .site-footer__left .social .site-footer-image {
        width: 100%;
        display: flex;
        margin-bottom: 20px;
    }

    .company {
        margin: 0 auto;
    }

    .mobile {
        display: block !important;
    }

    .desktop {
        display: none !important;
    }

    .site-footer .site-footer__right .site-footer-sitemap ul.onecolumn {
        column-count: 1;
    }
}


@media only screen and (min-width:769px)
{
    .site-footer {
        justify-content: space-between;
    }

    .site-footer .site-footer__right .site-footer-sitemap {
        width: auto;
    }

    .site-footer .site-footer__right {
        justify-content: space-between;
    }
}

@media only screen and (max-width:768px)
{

    .site-footer .site-footer__left {
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    .site-footer .site-footer__right {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .site-footer .site-footer__right .site-footer-sitemap {
        width: 50%;
        margin-top: 15px;
    }

}

@media only screen and (max-width:480px)
{

    .site-footer .site-footer__left {
        margin-top: 0;
    }

    .site-footer .site-footer__left .social .site-footer-image .image {
        padding-right: 10px;
        padding-top:8px;
    }

    .site-footer .site-footer__left .social .site-footer-image .image img {
        width: 90%;
    }

    .site-footer .logo-description {
        display: none;
    }

    .title {
        line-height: 1.3;
    }

    .site-footer .site-footer__left .social .site-footer-image {
        margin-bottom: 10px;
    }

}

@media only screen and (max-width:380px)
{

    .company {
        text-align: center;
    }

}

@media only screen and (max-width:380px)
{
    .site-footer .site-footer__right .site-footer-sitemap ul li {
        font-size: 10px;
        padding-right:0;
    }

    .company {
        text-align: center;
    }
}

@media only screen and (max-width:490px)
{
    .company li {
        padding-top: 15px;
    }
}