html,
body {
    padding: 0;
    margin: 0;
    background-color: #fdfdfd;
    width: 100%;
}

#outer-container {
    width: 100%;
    display: flex;
    display:none;
}

#left_con {
    width: 20%;
    padding-left: 30px;
    min-height: 100vh;
    background-color: white;
    font-size: 18px;
}

#color_con {
    list-style-type: none;
    line-height: 1.8;
    padding-left: 25px;
    margin: 50px auto;
    color:#333333;
}

#color_con li {
    cursor: pointer;
}

#color_con li input {
    margin-right: 10px;
}

#right_con {
    width: 60%;
    height: auto;
    padding: 0px;
}

#super_con {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 420px;
}

#container {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -150px;
    direction: ltr;
    margin-top: 0px;
    display:block !important;
}

#mycanvas {
    z-index: 10;
    position: absolute;
    border-radius: 50%;
    top: 0px;
    left: 0px;
}

#controlcanvas {
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 50;
}

.circles {
    width: 30px;
    height: 30px;
    border: 3px solid white;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 3px 4px 1px rgba(0, 64, 128, 0.2);
    left: 135px;
    top: 135px;
}

#c1 {
    z-index: 100;
}

#c2 {
    z-index: 90;
}

#c3 {
    z-index: 80;
}

#c4 {
    z-index: 70;
}

#c5 {
    z-index: 60;
}

#color_pals {
    width: 90%;
    margin: 30px auto;
    height: 150px;
    display: flex;
    margin-bottom: 0px;
    box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.2);
    transition: box-shadow 0.3s;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.pals {
    width: 20%;
    height: 100%;
}

#pal1 {
    border-radius: 10px 0 0 10px;
}

#pal5 {
    border-radius: 0 10px 10px 0px;
}

.rs-path-color {
    background: linear-gradient(to left, transparent 0%, black 100%);
    box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.2);
}

.rs-border {
    border: none;
}

.rs-handle {
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 3px 4px 1px rgba(0, 64, 128, 0.2);
    z-index: 1000 !important;
    cursor: pointer !important;
}

#slidy {
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 1;
}

.rs-bg-color {
    z-index: 10;
}

#hex_con {
    width: 90%;
    display: flex;
    margin: 10px auto;
    text-align: center
}



.hex {
    width: 20%;
    cursor: pointer;
}

.hex input{
    text-align:center;
}

.iclass{
   
    border:none !important;
}

.uclass{
    
    border: 1px solid #e9f2f9;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    color:black;
    transition:none !important;
}

#sliders {
    width: 90%;
    height: 200px;
    margin: 10px auto;
}

#sliders > div {
    width: 100%;
    height: 100%;
    display: flex;
}

#sliders >div >div {
    width: 20%;
}

#sliders >div >div>div {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sliders >div >div>div input {
    width: 80%;
}

#sliders >div >div>div div {
    margin-left: 10px;
    font-size: 12px;
    width: 20%;
}

input[type="range"] {
    -webkit-appearance: none !important;
    height: 8px;
    border-radius: 4px;
    cursor: pointer;
    background: transparent;
}

#rgba_slider > div > div:nth-of-type(1) > input {
    background: linear-gradient(to right, white 10%, red 100%);
}

#rgba_slider > div > div:nth-of-type(1) > input::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border: 1px solid red;
    background-color: white;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

#rgba_slider > div > div:nth-of-type(1) > input::-moz-range-thumb {
    -webkit-appearance: none !important;
    border: 1px solid red;
    background-color: white;
}

#rgba_slider > div > div:nth-of-type(2) > input {
    background: linear-gradient(to right, white 10%, green 100%);
}

#rgba_slider > div > div:nth-of-type(2) > input::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border: 1px solid green;
    background-color: white;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

#rgba_slider > div > div:nth-of-type(2) > input::-moz-range-thumb {
    -webkit-appearance: none !important;
    border: 1px solid green;
    background-color: white;
}

#rgba_slider > div > div:nth-of-type(3) > input {
    background: linear-gradient(to right, white 10%, blue 100%);
}

#rgba_slider > div > div:nth-of-type(3) > input::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border: 1px solid blue;
    background-color: white;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

#rgba_slider > div > div:nth-of-type(3) > input::-moz-range-thumb {
    -webkit-appearance: none !important;
    border: 1px solid blue;
    background-color: white;
}

#cmyk_slider > div > div:nth-of-type(1) > input {
    background: linear-gradient(to right, white 10%, cyan 100%);
}

#cmyk_slider > div > div:nth-of-type(1) > input::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border: 1px solid cyan;
    background-color: white;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

#cmyk_slider > div > div:nth-of-type(1) > input::-moz-range-thumb {
    -webkit-appearance: none !important;
    border: 1px solid cyan;
    background-color: white;
}

#cmyk_slider > div > div:nth-of-type(2) > input {
    background: linear-gradient(to right, white 10%, magenta 100%);
}

#cmyk_slider > div > div:nth-of-type(2) > input::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border: 1px solid magenta;
    background-color: white;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

#cmyk_slider > div > div:nth-of-type(2) > input::-moz-range-thumb {
    -webkit-appearance: none !important;
    border: 1px solid magenta;
    background-color: white;
}

#cmyk_slider > div > div:nth-of-type(3) > input {
    background: linear-gradient(to right, white 10%, yellow 100%);
}

#cmyk_slider > div > div:nth-of-type(3) > input::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border: 1px solid yellow;
    background-color: white;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

#cmyk_slider > div > div:nth-of-type(3) > input::-moz-range-thumb {
    -webkit-appearance: none !important;
    border: 1px solid yellow;
    background-color: white;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

#cmyk_slider > div > div:nth-of-type(4) > input {
    background: linear-gradient(to right, white 10%, black 100%);
}

#cmyk_slider > div > div:nth-of-type(4) > input::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border: 1px solid black;
    background-color: white;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

#cmyk_slider > div > div:nth-of-type(4) > input::-moz-range-thumb {
    -webkit-appearance: none !important;
    border: 1px solid black;
    background-color: white;
}

#hsv_slider > div > div:nth-of-type(1) > input {
    background: linear-gradient(to right, white 10%, purple 100%);
}

#hsv_slider > div > div:nth-of-type(1) > input::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border: 1px solid purple;
    background-color: white;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

#hsv_slider > div > div:nth-of-type(1) > input::-moz-range-thumb {
    -webkit-appearance: none !important;
    border: 1px solid purple;
    background-color: white;
}

#hsv_slider > div > div:nth-of-type(2) > input {
    background: linear-gradient(to right, white 10%, orange 100%);
}

#hsv_slider > div > div:nth-of-type(2) > input::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border: 1px solid orange;
    background-color: white;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

#hsv_slider > div > div:nth-of-type(2) > input::-moz-range-thumb {
    -webkit-appearance: none !important;
    border: 1px solid orange;
    background-color: white;
}

#hsv_slider > div > div:nth-of-type(3) > input {
    background: linear-gradient(to right, white 10%, black 100%);
}

#hsv_slider > div > div:nth-of-type(3) > input::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border: 1px solid black;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: white;
}

#hsv_slider > div > div:nth-of-type(3) > input::-moz-range-thumb {
    -webkit-appearance: none !important;
    border: 1px solid black;
    background-color: white;
}

#side {
    width: 20%;
    margin-right:20px;
}

#mode_con {
    display: flex;
    align-items: center;
    ;
}

input[type=radio]:checked {
    background-color: blue;
    color: blue;
}

#edit {
    margin-top: 100px;
}

.circles {
    touch-action: none;
}

#mselect {
    display: none;
}

#copied_tip {
    position: relative !important;
}

@media screen and (max-width: 1180px) {
    #mselect {
        display: block;
        margin: 20px auto;
        font-size: 18px;
    }
    #color_con {
        display: none;
    }
    .header-wrap {
        height: 60px;
    }
    #outer-container {
        flex-wrap: wrap;
        padding-left:0px;
        
    }
    #left_con {
        display: none;
    }
    #right_con {
        width: 100%;
        position: relative;
    }
}

#btn_con {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.button {
    margin: 5px;
}

#create {
    margin-top: 30px;
}